{% extends "base.html" %}

{% block title %}<title>#{{ term.name }} | {{ config.title }}</title>{% endblock title %}
{% block content %}
  <section class="article-list">
    <h1>#{{ term.name }}</h1>
    <p class="page-summary">{{ term.pages | length }} {{ trans(key="article_count") }}</p>
    {% for article in term.pages %}
      {% include "partials/article-row.html" %}
    {% else %}
      <p class="empty-state">{{ trans(key="no_articles") }}</p>
    {% endfor %}
  </section>
{% endblock content %}
